@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: rgb(20, 255, 3);
  --color-secondary: teal;
}


:root {
  color: black;
  background-color: white;
}


